html, body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
}
/* Header Style */
#image{
    width: 100%;
    height: 50vh;
    position: relative;
    z-index: -1;
}
.header{
    text-align: center;
    margin-top: -380px;
    color: white;
}
.head-p1{
    font-size: 20px;
    margin-bottom: -15px;
}
.head-p2{
    font-size: 14px;
}
.btn-container{
    margin-top: 40px;
}
.button{
    border: none;
    border-radius: 4px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.button:not(#btn-sec1){
    margin-left: 30px;
}
.button:hover{
    background-color: rgba(185, 176, 176, 0.918)
}
/* Responsivity Header */
@media screen and (max-width: 750px){
    .header{
        margin-top: -320px;
    }
    .btn-container{
        display: grid;
        grid-template-columns: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
        justify-content: center;
        grid-gap: 10px;
    }
    .button{
        margin-left: 30px;
    }
    .button:not(#btn1-sec1, #btn-sec1){
        margin-right: 20px;
    }
}
@media screen and (max-width: 600px){
    .header{
        text-align: start;
        margin-left: 15px;
    }
}
/* First Section Style */

.sec-container1 {
    margin-top: 130px;
    display: flex;
    justify-content: center;
}
.form{
    margin-left: 20px;
}
.inputs{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
}
.input-f{
    width: 340px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.ctn-text{
    width: 50%;
}
.form-p{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 5px;
}
.ctn-inputs{
    margin-top: 5px;
}
.form-btn{
    background-color: white;
    border-radius: 4px;
    border: 1.4px solid rgba(0, 0, 0, 0.5);
    padding: 8px;
    width: 100%;
}
.form-btn:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.d-check2{
    margin-left: 30px;
}
@media screen and (max-width: 500px){
    .input-f{
        width: 300px;
    }
}

/* Responsivity of first section */
@media screen and (max-width: 700px){
    .sec-container1{
        margin-top: 50px;
    }
    #image{
        width: 100%;
    }

    .sec-container1{
        flex-direction: column;
        align-items: center;
    }
}

/* First and second line Style*/
.lines{
    height: 10vh;
    display: flex;
    justify-content: center;
}
.ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.line{
    width: 30%;
    height: 0;
    border: 1px solid #000;
}
.line-p{
    font-size: 18px;
    margin: 5px;
}

/*  Second Section Style (Cards) */
#sec-container2{
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 40px;
    justify-content:center;

}
.card{
    width: 150px;
}
.btns-card{
    width: 100%;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}
.btns-card:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.btn-card{
    margin-top: 20px;
    width: 15%;
    background-color: white;
    border-radius: 4px;
    border: 1.4px solid rgba(0, 0, 0, 0.6);
    padding: 8px;
}
.btn-card:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.div-btn{
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1150px){
    #sec-container2{
        grid-gap: 85px;
    }
    .btn-card{
        width: 25%;
    }
}

@media screen and (max-width: 700px){
    #description{
        display: none;
    }
    #sec-container2{
        grid-template-columns: 30% 30%;
        grid-template-rows: 1fr 1fr 1fr 1fr;

    }
    .card{
        margin-right: 10px;
    }
    .btn-card{
        width: 40%;
    }
}

@media screen and (max-width: 400px){
    #sec-container2{
        grid-template-columns: 50%;
        grid-gap: 10px;
    }
    .card{
        display: flex;
    }
    .card-txt{
        display: flex;
        flex-direction: column;
        
    }
}

/* Third Section Style */
.sec-container3{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ctn-inputs{
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 20px;
}
.btn{
    background-color: white;
    border-radius: 4px;
    border: 1.4px solid rgba(0, 0, 0, 0.6);
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
.input-sec3{
    width: 340px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}
.txt-sec3{
    font-size: 15px;
    margin-bottom: 3px;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.div-input{
    margin-left: 50px;
}
/* Responsivity of third section */
@media screen and (max-width: 760px){
    .div-input {
        margin-left: 10px;
    }
}
@media screen and (max-width: 700px){
    .ctn-inputs{
        flex-direction: column;
    }
    .div-input{
        margin-left: 0;
    }
}
/* Footer Style */
.footer{
    margin-bottom: -200px;
}

.f-container{
    margin-top: 80px;
    text-align: center;
}
#image2{
    width: 100%;
    height: 30vh;
    position: relative;
    transform: rotate(180deg);
    z-index: -1;
    margin-bottom: -5px;
}
.f-p{
    color: white;
}